body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    font-family: roboto;
    width: 100%;
    padding: 8px;
}

.logo {
    font-size: 24px;
    margin-left: 320px;

}

.under-header {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: #1f2937;
}

.under-header-text {
    color: white;
}

button {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    display: flex;
    gap: 16px;
    size: 18px;
    color: #e5e7eb;
    margin-right: 320px;
}